<div class="container bod">
    <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Visualizing Binary Tree Data Structure</h5>
                <h6 class="card-subtitle mb-2 text-muted">JavaScript,HTML,CSS</h6>
                <p class="card-text">
                    This project shows how the Binary Tree Data Structure with the help of animations. This project has thought me the use of canvas and
                    introduced me to the various possibilities of using canvas to provide visualization. Using the BST algorithm with javascript is not that great in my opinion but it works. I also challenge
                    myself to dynamically adjust the node coordinates within the canvas. Surprising MATHs i encountered while doing this project with the animations.
                </p>
                <div class="w-25 float-right div_view_project">
                    <a class="nav-link float-right" href="../../assets/bst.html">View</a>
                </div>
            </div>

        </div>
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">HomeWork Covid Help</h5>
                <h6 class="card-subtitle mb-2 text-muted">JavaScript,HTML,CSS</h6>
                <div class="card-text">
                    I made this project at the start of covid. I realized that my nieces were getting too "Ipady", watching youtube and playing games.
                    So I decided to make this app that their parents can use.

                      <ol>
                        <li>How it works is the parent is to create a "quiz".</li>
                        <li>To create a quiz, they need to provide a "pass" (I will explain the use of this later).</li>
                        <li>Select Difficulty.</li>
                        <li>After creating the quiz, a SessionKey will be generated.</li>
                        <li>The parents are to provide this key to their kid/s.</li>
                        <li>The kid is then to use this SessionKey to take the quiz.</li>
                        <li>Once the kid successfully finishes the quiz with a good result.</li>
                        <li>The "pass" that the parent provided during the creation will be shown to them.</li>
                        <li>The kid can then tell the pass to their parents to prove that they've passed the quiz.</li>
                      </ol>

                    I think this can be improve to automatically have a security app on their devices.
                    Involving some home network engineering.
                  </div>
                <div class="w-25 float-right div_view_project">
                    <a class="nav-link float-right" href="projects/homework/main">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

