<div class="container bod">
    <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Visualizing Binary Tree Data Structure</h5>
                <h6 class="card-subtitle mb-2 text-muted">&nbsp JavaScript,HTML,CSS</h6>
                <p class="card-text">
                    This project shows how the Binary Tree Data Structure with the help of animations. This project has thought me the use of canvas and
                    introduced me to the various possibilities of using canvas to provide visualization. Using the BST algorithm with javascript is not that great in my opinion but it works. I also challenge
                    myself to dynamically adjust the node coordinates within the canvas. Surprising MATHs i encountered while doing this project with the animations.
                </p>
                <div class="w-25 float-right div_view_project">
                    <a class="nav-link float-right" href="https://ikengo.net/Projects/Bst">View</a>
                </div>
            </div>

        </div>
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">HomeWork Covid Help</h5>
                <h6 class="card-subtitle mb-2 text-muted">&nbsp JavaScript,HTML,CSS</h6>
                <p class="card-text">
                    This project shows how the Binary Tree Data Structure with the help of animations. This project has thought me the use of canvas and
                    introduced me to the various possibilities of using canvas to provide visualization. Using the BST algorithm with javascript is not that great in my opinion but it works. I also challenge
                    myself to dynamically adjust the node coordinates within the canvas. Surprising MATHs i encountered while doing this project with the animations.
                </p>
                <div class="w-25 float-right div_view_project">
                    <a class="nav-link float-right" href="projects-component/homework/main">View</a>
                </div>
            </div>
        </div>
    </div>
</div>

