<div class="intro">
</div>

<div class="centered_home">
    <div class="card-body">
        <p class="card-title animate__animated animate__fadeInLeft">K E N N E T H &nbsp;&nbsp; G A R D I O L A</p>
        <p class="card-text animate__animated animate__fadeInRight">
            Experienced and Passionate individual enthusiastic about creating technology.
            Static on being dynamic.
        </p>
    </div>
</div>

<div class="bg-secondary">
    <div class="container" style="padding-top:1%;padding-bottom: 1%;">
        <div class="card text-left">
            <div class="card-header">
                <h3>E X P E R I E N C E</h3>
            </div>
            <div class="card-body">

                  <div>
                    <h6>MARCH 2021 – PRESENT</h6>
                    <h5 class="text-success">ORDER MANAGEMENT SYSTEM INTEGRATION DEVELOPER, TECSYS INC. OMNI™ RETAIL SOLUTIONS (C# | .NET FRAMEWORK | AZURE | RAZOR)</h5>
                    <ul>
                      <li>Integrated over 100+ new/change request features with big Retail Clients such as Columbia, Sephora, and Ubisoft to production.</li>
                      <li>Developed integrations for various payment gateways such as PayPal, Stripe, Adyen.</li>
                      <li>Highly experienced in REST API development and integrations.</li>
                      <li>Successfully integrated shipping providers such as Canada Post, Purolator, and DoorDash.</li>
                      <li>Experienced in using standard Agile methodology (SCRUM) and tools such as Confluence and Jira.</li>
                      <li>Refactored and improved inventory tasks speed performance by 30% used by all clients in production.</li>
                      <li>Successfully resolved 5+ severity 1 issues as the main developer involved in production.</li>
                      <li>Investigated, debugged, and resolved over 150+ reported bug tickets.</li>
                      <li>Integrated virtualized inventory visibility between order management system and cloud-based headless commerce platform.</li>
                      <li>Experienced with productions that involve cross-team collaboration with management, business analysts, DevOps, and QAs.</li>
                      <li>Developed a custom pub/sub event relay project using latest .NET 6 hosted on Azure that listens to real-time events from Amazon SQS, Google Pub/Sub, Azure Service Bus, and any custom event-driven applications and relays them to webhooks.</li>
                      <li>Created Azure CI/CD pipelines and releases for multiple project repositories.</li>
                    </ul>
                  </div>
            </div>
<hr>
            <div class="card-body">

              <div>
                <h6>SEPTEMBER 2019 – AUGUST 2020</h6>
                <h5 class="text-success">FULL STACK DEVELOPER INTERNSHIP, ONTARIO MINISTRY OF GOVERNMENT AND CONSUMER SERVICES (ANGULAR |.NET CORE | POWERSHELL SCRIPTS)</h5>
                <ul>
                  <li>Analyzed requirements, designed, and developed a web application (Angular/.Net Core/MS SQL) to provision servers with the use of REST APIs.</li>
                  <li>Developed scripts (PowerShell) to automate the work order processes to give users access to on-premise Windows and Linux servers.</li>
                  <li>Designed and developed code for the migration of privileged access management and automation for the bi-election server management.</li>
                  <li>Developed macros (VB script) to populate system information from load balancers and firewalls.</li>
                  <li>Various Database administration tasks: created a schema to migrate existing privileged account management to a newly bought service.</li>
                </ul>
              </div>
        </div>
        </div>

    </div>
</div>

<div class="bg-dark">
  <div class="card-header text-center bg-secondary">
    <h3>FREE TIME EXPERIENCE</h3>
</div>
<div class="text-center container" style="padding-top:1%;padding-bottom:1%;">

    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top logos" src="../../assets/Images/core.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">.NET CORE</h5>
                    <p class="card-text">
                        3 years total of work experience using .NET Framework, .NET Core, and now .NET. 2 years experience as an Integrations developer of an Order Management System developed in .NET. Responsible for creating and maintaining code against platform code base to meet
                        business needs. Extensive experience in analyzing code to identify and debug issues.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/angular_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">This web app is developed in Angular. I used Angular to develop the frontend of the application that I made in my co-op term and as well as this website. I use angular for my frontends as it is a great framework allowing complex web applications. In conjunction with bootstrap, I can make the application with neat and clean design.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top node_logo" src="../../assets/Images/node.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">NodeJS</h5>
                    <p class="card-text">I used NodeJS for the backend of my project. I am proficient in JavaScript so working with an angular frontend makes an organized and smooth development. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/msql.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Microsoft SQL Server</h5>
                    <p class="card-text">The database that my work used. I used SQL Server Management Studio to test queries for development.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top logos" src="../../assets/Images/powershell.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Powershell</h5>
                    <p class="card-text">My application was about automating users access to resources. I developed scripts to validate the various validation needed for the processes(user validation, OU organization, server validation, ping checks, etc...) to be done as well as to talk to internal APIs. As we are in a Microsoft Environment, Powershell is needed to traverse the Active Directory. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/linux.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Linux</h5>
                    <p class="card-text">Hosted this Website before using nginx on linux but my upload speed changed so I wasn't able to provision this website from home. Currently and actively learning linux!!!</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="card text-center borderless" style="padding-top:25%;padding-bottom:1%;">
    <h3 class="card-Header">P R O D U C T I O N</h3>
    <ul class="list-group">
        <li class="text-danger">Frontend : Angular</li>
        <li class="text-warning">Backend : .NET Core | Update:Now static, migrated to github pages</li>
        <li class="text-primary">Web Host : Google App Engine | Update:Now static, migrated to github pages</li>
        <li>*Recently migrated to ASP.NET. Currently using MVC framework.(Dec 2020)| Update:Now static, migrated to github pages (June 2023)</li>
    </ul>
</div>
