<div class="intro">
</div>

<div class="centered_home">
    <div class="card-body">
        <p class="card-title animate__animated animate__fadeInLeft">K E N N E T H &nbsp;&nbsp; G A R D I O L A</p>
        <p class="card-text animate__animated animate__fadeInRight">
            Passionate and motivated individual seeking a developer position to utilize my analytical skills to further
            develop my abilities in the field of business technology.
        </p>
    </div>
</div>

<div class="bg-light">
    <div class="container" style="padding-top:1%;padding-bottom: 1%;">
        <div class="card text-center">
            <div class="card-header">
                <h3>E X P E R I E N C E</h3>
            </div>
            <div class="card-body">
        
                <p class="card-text">
                    The following are the experiences I have with the respective technologies. I worked for <b>The Ministry of Government and Consumer Services for a year for my 3 Co-op terms (12 months) </b> as a <b>developer</b>.
                    I was responsible on creating a <b>web application (developed in Angular / .NET Core / MSSQL stack)</b> that would automate the processing of workorders, which was done manually. This involves talking to various <b>API’s with oauth2</b>, database queries, scripts for user and server validation and authentication as well as other processes like pinging to make sure a server is available for the process, and a frontend interface for the user to check and make changes of the processes. I am also responsible to take problems that require <b>immediate solutions</b> like the recent Orléans and Ottawa-Vanier elections
                    where I developed macros to manage firewalls and load balancers. <b>Check my personal projects at /Projects :D </b>
                </p>
            </div>
        </div>

    </div>   
</div>


<div class="bg-light">



<div class="text-center container" style="padding-top:1%;padding-bottom: 1%;">
    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top logos" src="../../assets/Images/core.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">.NET CORE</h5>
                    <p class="card-text">
                        The stack that our department had are mostly Microsoft Services. The application that I was working on was to be hosted on a Windows Server using IIS. I was asked to translate the backend of my project to .NET CORE, and so I was able to learn the framework.
                        The transition to C# isn't hard since I use C++ in school so it wasn't difficult.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/angular_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">This web app is developed in Angular. I used Angular to develop the frontend of the application that I made in my co-op term and as well as this website. I use angular for my frontends as it is a great framework allowing complex web applications. In conjunction with bootstrap, I can make the application with neat and clean design.</p>
                </div>
            </div>
        </div>

    </div>


    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top node_logo" src="../../assets/Images/node.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">NodeJS</h5>
                    <p class="card-text">I used NodeJS for the backend of my project. I am proficient in JavaScript so working with an angular frontend makes an organized and smooth development. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/msql.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Microsoft SQL Server</h5>
                    <p class="card-text">The database that my work used. I used SQL Server Management Studio to test queries for development.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row row_home">
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-right">
                <img class="card-img-top logos" src="../../assets/Images/powershell.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Powershell</h5>
                    <p class="card-text">My application was about automating users access to resources. I developed scripts to validate the various validation needed for the processes(user validation, OU organization, server validation, ping checks, etc...) to be done as well as to talk to internal APIs. As we are in a Microsoft Environment, Powershell is needed to traverse the Active Directory. </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card exp_body" data-aos="fade-left">
                <img class="card-img-top logos" src="../../assets/Images/linux.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Linux</h5>
                    <p class="card-text">Hosted this Website before using nginx on linux but my upload speed changed so I wasn't able to provision this website from home. Currently and actively learning linux!!!</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="card text-center borderless">
    <h3 class="card-Header">P R O D U C T I O N</h3>
    <ul class="list-group">
        <li class="text-danger">Frontend : Angular</li>
        <li class="text-warning">Backend : .NET Core</li>
        <li class="text-primary">Web Host : Google App Engine</li>
        <li>*Recently migrated to ASP.NET. Currently using MVC framework.(Dec 2020)</li>
    </ul>
</div>